profile = janestreet

margin = 80

parse-docstrings
wrap-comments

break-separators = after
space-around-lists = false
dock-collection-brackets = true

break-infix-before-func = false
indicate-multiline-delimiters = closing-on-separate-line
if-then-else = keyword-first
function-indent-nested = auto
match-indent-nested = auto
single-case = compact
type-decl = sparse
ocp-indent-compat = false

field-space = tight-decl
let-and = sparse