name: Test

on:
  push:
    branches:
      - 'main'

  pull_request:
    branches:
      - '*'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - 5.2.x

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git
            archive: https://github.com/ocaml/opam-repository-archive.git

      - name: Cache opam dependencies
        id: cache-opam-dependencies
        uses: actions/cache@v5
        with:
          path: |
            _opam/
          key:
            ${{ matrix.os }}-${{ matrix.ocaml-compiler }}-opam-cache-dependencies-${{ hashFiles('**/*.opam',
            '**/*.opam.locked') }}

      - name: Install opam dependencies
        if: steps.cache-opam-dependencies.outputs.cache-hit != 'true'
        run: opam install . --locked --deps-only --with-test --yes

      - name: Test
        run: |
          opam exec -- make
          opam exec -- make test
          opam exec -- make test-coverage

      - name: Send coverage
        run: |
          if [ -d /tmp/pinc-official ]; then rm -r /tmp/pinc-official; fi
          mkdir -p /tmp/pinc-official
          BISECT_FILE=/tmp/pinc-official/pinc-lang opam exec -- dune runtest --no-print-directory --instrument-with bisect_ppx --force
          opam exec -- bisect-ppx-report html --coverage-path /tmp/pinc-official
          opam exec -- bisect-ppx-report summary --coverage-path /tmp/pinc-official
          opam exec -- bisect-ppx-report send-to Coveralls --coverage-path /tmp/pinc-official
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
